<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/utils.css">
    <link rel="stylesheet" href="../static/CSS/navigation.css">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="stylesheet" href="../static/CSS/myPosts.css">
    <title><%= webTitle%> - My Posts</title>
</head>
<body>

    <header class="navbar">
        <div class="nav-items">
            <a href="/"><img src="../static/ASSETS/logo.jpg" alt="BLOG"></a>
        </div>
        <div class="nav-items">
            <ul>
                <% if (!isLoggedIn) {%>
                <li><a href="/signIn">Sign In</a></li>
                <li><a href="/signUp">Sign Up</a></li>
                <%} else{%>
                <div id="usr_ico" onclick="usr_ico_clicked()"></div>
                <div id="usr_menu">
                    <ul id="usr_menu_lst_id" class="usr_menu_lst">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/myposts">My Posts</a></li>
                        <li><a href="/signOut">Sign Out</a></li>
                    </ul>
                </div>
                <%}%>
            </ul>
        </div>
        <script src="../static/JS/navigation.js"></script>
    </header>

    <section class="contents-container">
        <div class="contents">
            <div class="contents">
                <% data.forEach(element=> { %>
                    <div class="content-box">
                        <div class="deleteBtn" onclick="window.location.href='/deletePost?<%= element._id%>'"></div>
                        <h1> <a href="/posts?<%=element._id%>">
                                <%= element.title %>
                            </a></h1>
                        <p>
                            <%= element.desc%>
                        </p>
                        <div class="content-details">
                            <p>Posted on: <b>
                                    <%= element._date%>
                                </b> </p>
                            <p>Posted by: <b>
                                    <%= element._usr%>
                                </b></p>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
        <div class="pagination_btn">
            <a class="btn" href="<%= prv%>">&#8592 PREV</a>
            <p style="display: inline;">
                <%=crr%>
            </p>
            <a class="btn" href="<%= nxt%>">NEXT &#8594</a>
        </div>
        
    </section>

    <footer>
        <div class="footer-items">
            <a href="https://www.facebook.com/jubayer.iqbal.07" class="fa fa-facebook"></a>
            <a href="https://twitter.com/wearevenom07" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/__m00nknight__" class="fa fa-instagram"></a>
            <a href="" class="fa fa-github"></a>
        </div>
    </footer>
    
</body>
</html>