<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/CSS/utils.css">
    <link rel="stylesheet" href="../static/CSS/navigation.css">
    <link rel="stylesheet" href="../static/CSS/posts.css">
    <title>BLOG - <%=content.title%></title>
</head>
<body>
    <header class="navbar">
        <div class="nav-items">
            <a href="/"><img src="../static/ASSETS/logo.jpg" alt="BLOG"></a>
        </div>
        <div class="nav-items">
            <ul>
                <% if (!isLoggedIn) {%>
                <li><a href="/signIn">Sign In</a></li>
                <li><a href="/signUp">Sign Up</a></li>
                <%} else{%>
                <div id="usr_ico" onclick="usr_ico_clicked()"></div>
                <div id="usr_menu">
                    <ul id="usr_menu_lst_id" class="usr_menu_lst">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/myposts">My Posts</a></li>
                        <li><a href="/signOut">Sign Out</a></li>
                    </ul>
                </div>
                <%}%>
            </ul>
        </div>
        <script src="../static/JS/navigation.js"></script>
    </header>
    
    <section class="content-container">
        <div class="contents">
            <div class="content-box">
                <h1><%= content.title %></h1>
                <p><%= content.desc %></p>
                <div class="content-details">
                    <p>Posted on: <b><%= content._date %></b> </p>
                    <p>Posted by: <b><%= content._usr %></b> </p>
                </div>
            </div>
        </div>
        </div>
    </section>

    <footer>
        <a href="https://www.facebook.com/jubayer.iqbal.07" class="fa fa-facebook"></a>
        <a href="https://twitter.com/wearevenom07" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/__m00nknight__" class="fa fa-instagram"></a>
        <a href="" class="fa fa-github"></a>
    </footer>
</body>
</html>